t.txt
db.sqlite3

event_backend/__pycache__
event_api/__pycache__
event_api/firebase_test.py


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

